<%- include('header-html'); %>

<script>
  <% if (data.ip) { %>
  window.viewIp = '<%- data.ip %>';
  <% } %>
  <% if (data.lat && data.lon) { %>
    window.mapLat = <%- data.lat %>;
    window.mapLng = <%- data.lon %>;
  <% } %>
</script>

<%- include('blocks/navbar'); %>

<main role="main">

  <div class="ipgeo py-5 bg-light">
    <div class="container">

      <div class="row">

        <%- include('blocks/error', {data: data}) %>

        <div class="col-md-5">
          <div class="card mb-4 box-shadow">
            <div class="card-body">

              <%- include('blocks/search', {data: data}) %>

              <div class="alert alert-danger subscriber iplookup-error iplookup-invoked" id="lookupError" role="alert" style="display:none;"></div>

              <% if (data.data) { %>
                <%- include('blocks/ip-data-table', { ipdata: data.data }) %>
              <% } %>

            </div>
          </div>
        </div>

        <div class="col-md-7">
          <div class="card mb-4 box-shadow">
            <div id="map" class="subscriber ipfetched"></div>
          </div>
        </div>

        <div class="col-md-12" id="ipCommentPanel" style="display:none;">
          <div class="card mb-4 box-shadow">
            <div class="card-body">
              <h5 class="card-title">API description</h5>
            </div>
          </div>
        </div>

      </div>
      <!-- .row -->

      <div class="row">

        <div class="col-md-12" id="apiPanel">
          <div class="card mb-4 box-shadow">
            <h5 class="card-header text-primary"><i class="fa fa-fw fa-cog text-secondary"></i> API description</h5>
            <div class="card-body">
              <div class="card-text">
                <pre><code class='bash'># Prints the user’s IP
$ curl '<%= config.SITE_NAME %>/api?format=json'
{"ip":"::ffff:31.46.203.115"}

# Print detailed geo data of the user’s IP
$ curl '<%= config.SITE_NAME %>/api?format=json&geo=true'

# Or, to get the details of another IP:
$ curl '<%= config.SITE_NAME %>/api?ip=1.2.3.4&format=json'
$ curl '<%= config.SITE_NAME %>/api?ip=1.2.3.4&format=json&geo=true'</code></pre>
              </div>
            </div>
          </div>
        </div>
        <!-- #apiPanel -->

      </div>
      <!-- .row -->

    </div>
    <!-- .container -->
  </div>
  <!-- .ipgeo -->

</main>

<%- include('blocks/footer'); %>

<%- include('footer-html', {data: {lastTags: [
  '<script src="/js/geo-map.js"></script>',
  '<script src="/js/ip-lookup.js"></script>',
  '<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCOXFJyuHI9JnQyGh-rL4vcEWmra13ldMg&callback=initMap"></script>',
]}}); %>

<script>
  $(function(){
    hljs.highlightBlock($('.bash')[0]);
  });
</script>
